*{
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	height: 100em;
	background: url(../images/bg2.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	height: 100%;
}

.profile-card{
	margin-top: 20px;
	width: 400px;
	text-align: center;
	border-radius: 8px;
	overflow: hidden;
	padding: 0 20px;
}

.card-header{
	background: #226666;
	background: linear-gradient(130deg, #29506d, #3d9970);
	animation: animated-gradient 5s linear infinite;
	background-size: 200% 200%;
	padding: 30px 20px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.pic{
	display: inline-block;
	padding: 8px;
	background: linear-gradient(130deg, #2d8632, #aa3939); 
	margin:	auto;
	border-radius: 50%;
	background-size: 200% 200%;
	animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
	25%{
		background-position: left bottom;
	}
	50%{
		background-position: right bottom;
	}
	75%{
		background-position: right top;
	}
	100%{
		background-position: left top;
	}
}

.pic img{
	display: block;
	width: 200px;
	height: 200px;
	/*max-height:200%; 
	max-width:200%;*/
	border-radius: 50%;
}


.name{
	color: #f2f2f2;
	font-size: 28px;
	font-weight: 600;
	margin: 10px 0;
}

.desc{
	font-size: 18px;
	color: #ff851b;
	margin-bottom: 10px;
}

.desc:hover{
	color:#e66767;
}

.sm{
	display: flex;
	justify-content: center;
	margin:; 20px 0;
}

.sm	a{
	color: #f2f2f2;
	width: 56px;
	font-size: 22px;
	transition: .3s linear;
}

.sm a:hover{
	color: #e66767;
}

.contact-btn{
	color: #f2f2f2;
	display: inline-block;
	padding: 12px 50px;
	columns: #e66767;
	border: 2px solid #e66767;
	border-radius: 6px;
	margin-top: 16px;
	transition: .3s linear;
}

.contact-btn:hover{
	background:#e66767;
	columns: #f2f2f2;
	width: 280px;

}
/*
.contact-btn:focus{
	width: 280px;
}
*/
.card-footer{
	background: #f4f4f4;
	padding: 10px 10px;
	margin-bottom: 10px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	z-index: 0;
}

.numbers{
	display: flex;
	align-items: top;
}

.item{
	flex: 1;
	/*text-transform: uppercase;*/
	font-size: 13px;
	color: #e66767;
}

.item span{
	display: block;
	color: #2c3a47;
	font-size: 30px; 

}


.border{
	width: 2px;
	height: 200px;
	background: #bbbbbb;
}

.logo{
	margin-top: 10px;
}

.logo-ozu{
	margin-top: 50px;
	margin-left: 5px;
}


.ultimate-footer{
	color:#f4f4f4;
	position: fixed;
	bottom: 0;
	right: 10px;
	height: 20px;
	margin-top: 40px;
	font-size: 10px;
	font-style: italic;
	z-index: -1;
}
















